
.custom-header {
  background-color: #ffeecc;
  padding: 10px 0;
}


.custom-main {
  background-color: #e5f7f7;
  padding: 20px;
}


.custom-footer {
  background-color: #ffdddd;
  color: #663333;
  padding: 20px 0;
}
